h1{
    font-size: 5rem;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:auto;
    
}
.projects{
     display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.project{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:3rem;
    margin:2rem;
    border:0.5px solid rgb(255, 255, 255);
    height:8rem;
    width:20rem;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
    cursor: pointer;
    overflow: hidden;
    
}

.back{
    cursor: pointer;
}
a{
    text-decoration: none;
    color:rgb(243, 193, 54);
}
body{
    font-family: monospace;
    background: url(dot-grid.png);
}
h2{
    text-decoration:solid;
    font-size:1.3rem;
    color:rgb(243, 193, 54);
}
h3{
   
    border-radius: 5px;
    padding:1rem;
    opacity: 0.7;
}
h5{
    opacity: 0.5;
}