h1{
    font-size: 3rem;
    font-family: monospace;
    border-bottom:5px solid rgb(0, 110, 255);
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.back{
    background-color: rgb(24, 125, 240);
    color: rgb(255, 255, 255);
    border-radius:5px;
     font-size:1rem;
    padding:0.5rem;
}

.blogs{
     display:flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog{
    display:flex;
    flex-direction: column;
    padding:1rem;
    margin:2rem;
    height:16rem;
    width:22rem;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-bottom:5px solid rgb(8, 113, 145);
    transform:scale(0.9);
}
img{
    height:300px;
    border: radius 10px;
    
}

.back{
    cursor: pointer;
}
a{
    text-decoration: none;
    color:white;
}
.bloglink{
    color: rgb(4, 131, 250);
    font-weight: 700;
    
}
body{
    font-family: monospace;
    background-color: rgb(255, 255, 255);
    
}
h2{
    text-decoration:solid;
    font-size:1.4rem;
    color:rgb(0, 0, 0);
}
h3{
   
    border-radius: 5px;
    padding:0.2rem;
    opacity: 0.7;
}
h5{
    opacity: 0.5;
}