

h1{
    font-size: 3rem;
    font-family: monospace;
    border-bottom:5px solid rgb(0, 119, 255);
}

.projects{
     display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
img{
    height:350px;
}
.back{
    background-color: rgb(24, 118, 240);
    font-size:1rem;
    padding:0.5rem;
    color: rgb(255, 255, 255);
    border-radius:5px;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.project{
    font-size:0.9rem;
    margin-left:3rem;
    transform:scale(0.9);
    display:flex;
    flex-direction: column;
    padding:1rem;
    margin:1rem;
    height:24rem;
    width:22rem;
    border-bottom:5px solid rgb(14, 100, 139);
    border-radius:5px;

}
h2{
   
    font-size:1.4rem;
}
.tag-container{
     display:flex;
    flex-direction: row;
}
.tags{
    padding:0.3rem;
    margin-bottom:0.5rem;
    margin-right:0.5rem;
    width:8rem;
    text-align: center;
    background-color: rgb(19, 191, 214);
    box-shadow:1px 1px 8px rgb(19, 191, 214);
    border-radius: 5px;
}

body{
    font-family: monospace;
  
}
.links{
    display:flex;
    flex-direction: column;
    width:10rem;
}

links,h3{
    margin-bottom:1rem;
    background-color: rgb(16, 214, 181);
    box-shadow:1px 1px 8px rgb(16, 214, 181);
    border-radius: 5px;
    color:rgb(0, 0, 0);
    padding:0.5rem;
    cursor: pointer;
}

a{
    text-decoration: none;
    cursor: pointer;
    color:white;
    
}